.sidebar-container{
    /* background-color: red; */
    flex: 0.3;
    display: flex;
    flex-direction: column;
    /* border: 5px solid red; */
}
.sb-header{
    background-color: white;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.sb-search{
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 10px;
    display: flex;
    /* border: 5px solid red; */
    align-items: center;
}
.search-box{
    outline-width: 0;
    border:none;
    margin-left: 5px;
    font-size: 1.1rem;
}
.sb-conversations{
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 10px;
    flex: 1;
}
